**/.cache
**/__pycache__
**/*.pyc
**/*.pyo
**/node_modules
**/.local/share/Trash
**/Downloads
/btop/.config/btop/btop.conf
/eww/
!/AGENTS.md
/waybar/
/wofi/
/quickshell/.config/quickshell/blox/env
.ssh/*
!.ssh/config
.gnupg/private-keys-v1.d/
