* {
  all: unset;
}

.overlay-box {
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 0px;
  padding: 20px;
  color: #ffffff;
  font-family: "Google Sans Code NF", monospace;
  font-size: 14px;
}

// Scrollbar styling
scrollbar {
  background-color: transparent;
  border-radius: 5px;
}

scrollbar slider {
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 5px;
  min-width: 8px;
}

scrollbar slider:hover {
  background-color: rgba(255, 255, 255, 0.5);
}