@import url("/home/blox/.config/waybar/colors.css");
@define-color text  @foreground;
@keyframes fadeIn {
    0% {
    }
    100% {
    }
}

* {
    all:unset;
    font-family: 'Google Sans NF', sans-serif;
    font-size: 18px;
    outline: none;
    border: none;
    text-shadow:none;
}

window {
    all:unset;
    margin: 0px;
    padding: 10px;
    border-radius: 0px;
    background-color: alpha(@background,0.8);
}
#inner-box {
    margin: 0px;
    padding: 0px;
    border: none;
}
#outer-box {
    border: none;
}
#scroll {
    margin: 0px;
    padding: 10px;
    border: none;
}
#input {
    all:unset;
    margin-left:20px;
    margin-right:20px;
    margin-top:20px;
    padding: 20px;
    border: none;
    outline: none;
    color: @foreground;
    box-shadow: 1px 1px 5px rgba(0,0,0, .5);
    border-radius:0;
    background-color: alpha(@color4,0.4);
}
#input image {
    border: none;
    color: @foreground;
    padding-right:10px;
}
#input * {
    border: none;
    outline: none;
}

#input:focus {
    outline: none;
    border: none;

    border-radius:0;
}
#text {
    margin: 5px;
    border: none;
    color: @text;
    outline: none;
}
#text {
    margin: 5px;
    border: none;
    color: @text;
    outline: none;
}
#entry {
    border: none;
    margin: 5px;
    padding: 10px;
}
#entry arrow {
    border: none;
    color: @color4;

}
#entry:selected {
    border: none;
    border-radius: 0px;
    background-color: alpha(@color4,0.05);
}
#entry:selected #text {
    color: @color4;
}
#entry:drop(active) {
    background-color: @color4 !important;
}
