[Unit]
Description=Restart eww after resume
After=suspend.target hibernate.target suspend-then-hibernate.target

[Service]
Type=oneshot
ExecStartPre=/bin/sleep 2
ExecStartPre=eww kill
ExecStartPre=/bin/sleep 1
ExecStart=/bin/bash -c 'eww daemon & sleep 2 && eww open todo-overlay && eww open gcal-overlay'

[Install]
WantedBy=suspend.target hibernate.target suspend-then-hibernate.target
