[Unit]
Description=Update generated todo markdown files
# Try to wait for network, but run anyway if it fails so we get cached data
Wants=network-online.target
After=network-online.target

[Service]
Type=oneshot
EnvironmentFile=-%h/.config/quickshell/blox/env
ExecStart=%h/.config/quickshell/blox/scripts/quickshell/todo-generated-refresh.sh

[Install]
WantedBy=default.target
