[Unit]
Description=Bidirectional sync for Google Drive
Wants=network-online.target
After=network-online.target

[Service]
Type=oneshot
ExecStart=%h/.config/hypr/scripts/sync-gdrive.sh
